<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Layer Columns</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		    <!-- 
          Layer Template 
          http://www.templatemo.com/preview/templatemo_438_layer
    	   -->                
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css"><!-- Font Awesome -->
        <link rel="stylesheet" href="~/css/templatemo-style.css">
        <script src="~/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="header" id="top">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="#" class="navbar-brand scroll-top"><img src="/images/logo.png" alt="Layer Template">Layer</a>
              </div>
              <!--/.navbar-header-->
              <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/Home">Home</a></li>
                  <li><a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li><a href="/Home/leftSidebar">Left Sidebar</a></li>
                      <li><a href="/Home/rightSidebar">Right Sidebar</a></li>
                      <li><a href="/Home/withoutSidebar">Without Sidebar</a></li>
                    </ul>
                  </li>
                  <li><a href="/Home/Columns">Columns</a></li>
                  <li><a href="#"><span>Sign Up</span></a></li>
                </ul>
              </div>
              <!--/.navbar-collapse-->
      		</div>
      		<!--/.container-->
      </nav>
          <!--/.navbar-->
    </div>
    <!--/.header-->


      <div id="heading-pages">
          <div>
              <img src="/images/post-header.jpg" alt="post header">
          </div>
          <div class="row">
          <div class="col-md-6 col-md-offset-3 col-xs-12">
              <h2>Но силой ветров от залива</h2>
              <p>
                  Перегражденная Нева
                  Обратно шла, гневна, бурлива,
                  И затопляла острова,
                  Погода пуще свирепела,
                  Нева вздувалась и ревела,
              </p>
          </div>
        </div>
      </div>

      <div class="elements">

      <div class="container">
        <div class="row">
          <div class="4-comulns-text">
            <div class="col-md-6">
              <div class="elements-headings">
                  <h2>Котлом клокоча и клубясь,</h2>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-3 col-sm-6">
                  <h4>И вдруг, как зверь остервенясь,</h4>
                  <p>
                      На город кинулась. Пред нею
                      Всё побежало, всё вокруг
                      Вдруг опустело — воды вдруг
                      Втекли в подземные подвалы,
                  </p>
              </div>  
              <div class="col-md-3 col-sm-6">
                  <h4>К решеткам хлынули каналы,</h4>
                  <p>
                      И всплыл Петрополь как тритон,
                      По пояс в воду погружен.
                  </p>
              </div>    
              <div class="col-md-3 col-sm-6">
                  <h4>Осада! приступ! злые волны,</h4>
                  <p>
                      Как воры, лезут в окна. Челны
                      С разбега стекла бьют кормой.
                      Лотки под мокрой пеленой,
                      Обломки хижин, бревны, кровли
                  </p>
              </div>
              <div class="col-md-3 col-sm-6">
                  <h4>Товар запасливой торговли,</h4>
                  <p>
                      Пожитки бледной нищеты,
                      Грозой снесенные мосты,
                      Гроба с размытого кладбища
                      Плывут по улицам!
                  </p>
              </div>      
            </div>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="3-comulns-text">
            <div class="col-md-6">
              <div class="elements-headings">
                  <h2>
                      Народ
                      Зрит божий гнев и казни ждет.
                  </h2>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-4">
                  <h4>
                      Увы! всё гибнет: кров и пища!
                      Где будет взять?
                  </h4>
                  <p>
                      В тот грозный год
                      Покойный царь еще Россией
                      Со славой правил. На балкон,
                      Печален, смутен, вышел он
                      И молвил: «С божией стихией
                  </p>
              </div>  
              <div class="col-md-4">
                  <h4>Царям не совладеть». Он сел</h4>
                  <p>
                      И в думе скорбными очами
                      На злое бедствие глядел.
                      Стояли стогны озерами,
                      И в них широкими реками
                      Вливались улицы.
                  </p>
              </div>    
              <div class="col-md-4">
                  <h4>
                      Дворец
                      Казался островом печальным
                  </h4>
                  <p>
                      Царь молвил — из конца в конец,
                      По ближним улицам и дальным
                      В опасный путь средь бурных вод
                      Его пустились генералы
                      Спасать и страхом обуялый
                      И дома тонущий народ.
                  </p>
              </div>      
            </div>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="2-comulns-text">
            <div class="col-md-6">
              <div class="elements-headings">
                  <h2>Тогда, на площади Петровой,</h2>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                  <h4>Где дом в углу вознесся новый,</h4>
                <p>
                    
                    Где над возвышенным крыльцом
                    С подъятой лапой, как живые,
                    Стоят два льва сторожевые,
                    На звере мраморном верхом,
                </p>
              </div>  
              <div class="col-md-6">
                  <h4>Без шляпы, руки сжав крестом,</h4>
                  <p>
                      Сидел недвижный, страшно бледный
                      Евгений. Он страшился, бедный,
                      Не за себя. Он не слыхал,
                      Как подымался жадный вал,
                      Ему подошвы подмывая,
                      Как дождь ему в лицо хлестал,
                      Как ветер, буйно завывая,
                      С него и шляпу вдруг сорвал.
                  </p>
              </div>          
            </div>
          </div>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="headings">
          <div class="col-md-3">
            <div class="elements-headings">
                <h2>А.С. Пушкин</h2>
            </div>
          </div>
          <div class="col-md-12">
              <h1>Медный всадник</h1>
              <h2>Медный всадник</h2>
              <h3>Медный всадник</h3>
              <h4>Медный всадник</h4>
              <h5>Медный всадник</h5>
              <h6>Медный всадник</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="3-comulns-photo">
            <div class="col-md-3">
              <div class="elements-headings">
                  <h2>Нева всю ночь</h2>
              </div>
            </div>
            <div class="photos">
              <div class="col-md-12">
                <div class="col-md-4 col-sm-6">
                  <img src="/images/tm-photo-1.jpg" alt="photo 1">
                </div>
                <div class="col-md-4 col-sm-6">
                  <img src="/images/tm-photo-2.jpg" alt="photo 2">
                </div> 
                <div class="col-md-4 col-sm-6">
                  <img src="/images/tm-photo-3.jpg" alt="photo 3">
                </div>   
              </div>
            </div>
          </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
          <div class="4-comulns-photo">
            <div class="col-md-3">
              <div class="elements-headings">
                  <h2>Нева всю ночь</h2>
              </div>
            </div>
            <div class="photos">
              <div class="col-md-12">
                <div class="col-md-3 col-sm-6">
                  <img src="/images/photo-1.jpg" alt="photo 1">
                </div>
                <div class="col-md-3 col-sm-6">
                  <img src="/images/photo-2.jpg" alt="photo 2">
                </div> 
                <div class="col-md-3 col-sm-6">
                  <img src="/images/photo-3.jpg" alt="photo 3">
                </div>   
                <div class="col-md-3 col-sm-6">
                  <img src="/images/photo-4.jpg" alt="photo 4">
                </div> 
              </div>
            </div>
          </div>
        </div>
    </div>


      <footer>
        <div class="main-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="social-icons">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-google"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="copyright-text">
              <p>Copyright &copy; 2084 Company Name</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="third-arrow">
              <a href="#" class="scroll-link btn btn-dark" data-id="top"><i class="fa fa-angle-up"></i></a>
            </div>
          </div>
        </div>
        </div>
      </footer>
	</div>
    <script src="~/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
	<!-- templatemo 438 layer -->

  </body>
</html>