<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Layer - Left Sidebar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		    <!-- 
          Layer Template 
          http://www.templatemo.com/preview/templatemo_438_layer
    	  -->
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css"> <!-- Font Awesome -->
        <link rel="stylesheet" href="~/css/templatemo-style.css">
        <script src="~/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="header" id="top">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="#" class="navbar-brand scroll-top"><img src="/images/logo.png" alt="Layer Template">Layer</a>
              </div>
              <!--/.navbar-header-->
              <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/Home">Home</a></li>
                  <li><a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li><a href="/Home/leftSidebar">Left Sidebar</a></li>
                      <li><a href="/Home/rightSidebar">Right Sidebar</a></li>
                      <li><a href="/Home/withoutSidebar">Without Sidebar</a></li>
                    </ul>
                  </li>
                  <li><a href="/Home/Columns">Columns</a></li>
                  <li><a href="#"><span>Sign Up</span></a></li>
                </ul>
              </div>
              <!--/.navbar-collapse-->
      		</div>
      		<!--/.container-->
      </nav>
          <!--/.navbar-->
    </div>
    <!--/.header-->


        <div id="heading-pages">
          <div>
              <img src="/images/post-header.jpg" alt="post header">
          </div>
          <div class="row">
          <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
              <h2>Медный всадник</h2>
            <p>
                И ясны спящие громады
                Пустынных улиц, и светла
                Адмиралтейская игла,
                И, не пуская тьму ночную
                На золотые небеса,
                Одна заря сменить другую
                Спешит, дав ночи полчаса.
                Люблю зимы твоей жестокой
                Недвижный воздух и мороз,
                Бег санок вдоль Невы широкой,
                Девичьи лица ярче роз,
            </p>
          </div>
        </div>
      </div>



      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="widgets">
              <div class="first-widget">
                <h4>Медный всадник</h4>
                <p>
                    Бег санок вдоль Невы широкой,
                    Девичьи лица ярче роз,
                    И блеск, и шум, и говор балов,
                    А в час пирушки холостой
                    Шипенье пенистых бокалов
                    И пунша пламень голубой.
                </p>
                <div class="widget-social">
                  <ul>
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    <li><a href=""><i class="fa fa-google"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="widgets">
              <div class="second-widget">
                <h4>Recent Post</h4>
                <div class="posts">
                  <div class="post1">
                    <img src="/images/recent-post-1.jpg" alt="post image 1">
                    <h6><a href="">Post Title One</a></h6>
                    <span>2 Days Ago</span>
                  </div>
                  <div class="post2">
                    <img src="/images/recent-post-2.jpg" alt="post image 2">
                    <h6><a href="">Second Post Title</a></h6>
                    <span>4 Days Ago</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="widgets">
              <div class="third-widget">
                <h4>Categories</h4>
                <ul>
                  <li><a href="#"><p>Photoshop</p><span>18</span></a></li>
                  <li><a href="#"><p>Illustrator</p><span>27</span></a></li>
                  <li><a href="#"><p>After Effect</p><span>12</span></a></li>
                  <li><a href="#"><p>Premiere Pro</p><span>16</span></a></li>
                  <li><a href="#"><p>HTML CSS</p><span>18</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="main-post">
              <div class="image-post">
                <img src="/images/image-post.jpg" alt="post image">
              </div>
              <div class="post-content">
                <div class="post-title">
                  <h1>Post title goes here</h1>
                </div>
                <div class="post-discription">
                    <p>
                        Люблю воинственную живость
                        Потешных Марсовых полей,
                        Пехотных ратей и коней
                        Однообразную красивость,
                        В их стройно зыблемом строю
                        Лоскутья сих знамен победных,
                        Сиянье шапок этих медных,
                        На сквозь простреленных в бою.
                        Люблю, военная столица,
                        Твоей твердыни дым и гром,
                        Когда полнощная царица
                        Дарует сына в царской дом,
                        Или победу над врагом
                        Россия снова торжествует,
                        Или, взломав свой синий лед,
                        Нева к морям его несет
                        И, чуя вешни дни, ликует.
                    </p>
            
                    <blockquote>
                        Люблю воинственную живость
                        Потешных Марсовых полей,
                        Пехотных ратей и коней
                        Однообразную красивость,
                        В их стройно зыблемом строю
                        Лоскутья сих знамен победных,
                        Сиянье шапок этих медных,
                        На сквозь простреленных в бою.
                       
                    </blockquote>

                    <p>
                        Люблю, военная столица,
                        Твоей твердыни дым и гром,
                        Когда полнощная царица
                        Дарует сына в царской дом,
                        Или победу над врагом
                        Россия снова торжествует,
                        Или, взломав свой синий лед,
                        Нева к морям его несет
                        И, чуя вешни дни, ликует. <br><br>

                        Красуйся, град Петров, и стой
                        Неколебимо как Россия,
                        Да умирится же с тобой
                        И побежденная стихия;
                        Вражду и плен старинный свой
                        Пусть волны финские забудут
                        И тщетной злобою не будут
                        Тревожить вечный сон Петра!<br><br>

                        Была ужасная пора,
                        Об ней свежо воспоминанье...
                        Об ней, друзья мои, для вас
                        Начну свое повествованье.
                        Печален будет мой рассказ.

                    </p>
                </div>
              </div>
            </div>
          </div>      
        </div>
      </div>

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="social-icons">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-google"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="copyright-text">
              <p>Copyright &copy; 2084 Company Name</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="third-arrow">
              <a href="#" class="scroll-link btn btn-dark" data-id="top"><i class="fa fa-angle-up"></i></a>
            </div>
          </div>
        </div>
      </footer>
 
    <script src="~/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
	<!-- templatemo 438 layer -->

  </body>
</html>