<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Layer - Right Sidebar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		    <!-- 
          Layer Template 
          http://www.templatemo.com/preview/templatemo_438_layer
    	  -->
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css"> <!-- Font Awesome -->
        <link rel="stylesheet" href="~/css/templatemo-style.css">
        <script src="~/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="header" id="top">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="#" class="navbar-brand scroll-top"><img src="/images/logo.png" alt="Layer Template">Layer</a>
              </div>
              <!--/.navbar-header-->
              <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/Home">Home</a></li>
                  <li><a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li><a href="/Home/leftSidebar">Left Sidebar</a></li>
                      <li><a href="/home/rightSidebar">Right Sidebar</a></li>
                      <li><a href="/Home/withoutSidebar">Without Sidebar</a></li>
                    </ul>
                  </li>
                  <li><a href="/Home/Columns">Columns</a></li>
                  <li><a href="#"><span>Sign Up</span></a></li>
                </ul>
              </div>
              <!--/.navbar-collapse-->
      		</div>
      		<!--/.container-->
      </nav>
          <!--/.navbar-->
    </div>
    <!--/.header-->


        <div id="heading-pages">
          <div>
              <img src="/images/post-header.jpg" alt="post header">
          </div>
          <div class="row">
          <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
            <h2>Часть вторая</h2>
            <p>
                Над омраченным Петроградом
                Дышал ноябрь осенним хладом.
                Плеская шумною волной
                В края своей ограды стройной,
                Нева металась, как больной
                В своей постеле беспокойной.
                Уж было поздно и темно;
                Сердито бился дождь в окно,
                И ветер дул, печально воя.
            </p>
          </div>
        </div>
      </div>



      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="main-post">
              <div class="image-post">
                <img src="/images/image-post.jpg" alt="post image">
              </div>
              <div class="post-content">
                <div class="post-title">
                    <h1>
                        В то время из гостей домой
                        Пришел Евгений молодой...
                    </h1>
                </div>
                <div class="post-discription">
                    <p>
                        Мы будем нашего героя
                        Звать этим именем. Оно
                        Звучит приятно; с ним давно
                        Мое перо к тому же дружно.
                        Прозванья нам его не нужно,
                        Хотя в минувши времена
                        Оно, быть может, и блистало
                        И под пером Карамзина
                        В родных преданьях прозвучало;
                        Но ныне светом и молвой
                        Оно забыто.
                    </p>
            
                    <blockquote>
                        Наш герой
                        Живет в Коломне; где-то служит,
                        Дичится знатных и не тужит
                        Ни о почиющей родне,
                        Ни о забытой старине.
                    </blockquote>

                    <p>
                        Итак, домой пришед, Евгений
                        Стряхнул шинель, разделся, лег.
                        Но долго он заснуть не мог
                        В волненье разных размышлений.
                        О чем же думал он? о том,
                        Что был он беден, что трудом
                        Он должен был себе доставить
                        И независимость и честь;<br><br>

                        Что мог бы бог ему прибавить
                        Ума и денег. Что ведь есть
                        Такие праздные счастливцы,
                        Ума недальнего, ленивцы,
                        Которым жизнь куда легка!
                        Что служит он всего два года;
                    </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="widgets">
              <div class="first-widget">
                  <h4>
                      Он также думал, что погода
                  </h4>
                  <p>
                      Не унималась; что река
                      Всё прибывала; что едва ли
                      С Невы мостов уже не сняли
                      И что с Парашей будет он
                      Дни на два, на три разлучен.
                      Евгений тут вздохнул сердечно
                      И размечтался, как поэт:
                  </p>
                <div class="widget-social">
                  <ul>
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    <li><a href=""><i class="fa fa-google"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="widgets">
              <div class="second-widget">
                <h4>Recent Posts</h4>
                <div class="posts">
                  <div class="post1">
                    <img src="/images/recent-post-1.jpg" alt="post 1">
                    <h6><a href="">Post Title One</a></h6>
                    <span>2 Days Ago</span>
                  </div>
                  <div class="post2">
                    <img src="/images/recent-post-2.jpg" alt="post 2">
                    <h6><a href="">Second Post Title</a></h6>
                    <span>4 Days Ago</span>
                  </div>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-md-3">
            <div class="widgets">
              <div class="third-widget">
                <h4>Categories</h4>
                <ul>
                  <li><a href="#"><p>Photoshop</p><span>18</span></a></li>
                  <li><a href="#"><p>Illustrator</p><span>27</span></a></li>
                  <li><a href="#"><p>After Effect</p><span>12</span></a></li>
                  <li><a href="#"><p>Premiere Pro</p><span>16</span></a></li>
                  <li><a href="#"><p>HTML CSS</p><span>18</span></a></li>
                </ul>
              </div>
            </div>
          </div>      
        </div>
      </div>


      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="social-icons">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-google"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="copyright-text">
              <p>Copyright &copy; 2084 Company Name</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="third-arrow">
              <a href="#" class="scroll-link btn btn-dark" data-id="top"><i class="fa fa-angle-up"></i></a>
            </div>
          </div>
        </div>
      </footer>  
 
    <script src="~/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
	 <!-- templatemo 438 layer -->

  </body>
</html>